<app-cancel-mainpage></app-cancel-mainpage>

<div id="block" class="container mt-5">



  <form>
        <div class="container1">

           


          <!---heading-->
              <header class="heading">Cancel Policy</header><hr>
           <!---Form starting--> 
           <div class="row">

            



            <!--- For Policy Id-->
               <div class="col-sm-12 mt-3">
                      <div class="row justify-content-center">
                    
                        <div class="col-md-4"><label style="color: white" ><h5>Policy Id :</h5></label> </div>
                      <div class="col-md-4">
                          <select [(ngModel)]="cancel.policy_id" name="policy_id" class="form-control ">
                              <option value="null" disabled>--select policy--</option>
                           <option [ngValue]="vehicle.policy_id" *ngFor='let vehicle of vehicles'>{{vehicle.policy_id}}</option>
                         </select>
                      </div>
                   </div>
              </div>  
              
           
            <!--- For Date of theft-->
            <div class="col-sm-12 mt-3">
                <div class="row justify-content-center">
              
                  <div class="col-md-4"><label style="color: white" ><h5>Cancellation Date :</h5></label> </div>
                <div class="col-md-4">
                    <input type="date" [(ngModel)]="cancel.cancel_date" name="cancel_date"   class="form-control " required>
                </div>
             </div>
        </div>    
        

         
       
  
         


<div class="container mt-3 mb-3">
  <button type="submit" (click)="savecancel()" class=" btn btn-success btn-block" data-toggle="modal" data-target="#exampleModalCenter">Cancel</button>
  <button type="reset" class="btn btn-danger btn-block">Reset</button>

</div>






</div>	 

</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       {{message}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>
</form>  
</div>     