
<app-claim-mainpage></app-claim-mainpage>

<div id="block" class="container mt-5">



    <form [formGroup]="accident">
          <div class="container1">

              


            <!---heading-->
                <header class="heading"> Accident Claim</header><hr>
             <!---Form starting--> 
             <div class="row">





              <!--- For Policy Id-->
                 <div class="col-sm-12 mt-3">
                        <div class="row justify-content-center">
                      
                          <div class="col-md-4"><label style="color: white" ><h5>Policy Id :</h5></label> </div>
                        <div class="col-md-4">
                                <select formControlName="policy_id" name="policy_id" class="form-control ">
                                        <option value="null" disabled>--select policy--</option>
                                     <option [ngValue]="vehicle.policy_id" *ngFor='let vehicle of vehicles'>{{vehicle.policy_id}}</option>
                                   </select>
                        </div>
                     </div>
                </div>  
                
                        

             <!--- For total_amount-->
             <div class="col-sm-12 mt-3">
                <div class="row justify-content-center">
              
                  <div class="col-md-4"><label style="color: white" ><h5>Total Amount :</h5></label> </div>
                <div class="col-md-4">
                    <input type="text" formControlName="total_amount" pattern="[0-9]{1,}" name="total_amount"  placeholder="Total Amount" class="form-control " required>
                    <div *ngIf="f.total_amount.errors" >
                        <div *ngIf="f.total_amount.errors&&!f.total_amount.pristine"
                         class="dinesh">total amount must contain only numbers </div>
                    </div>
                </div>
             </div>
        </div>            

         
    
     <!--- For accident_type-->
     <div class="col-sm-12 mt-3">
        <div class="row justify-content-center">
      
          <div class="col-md-4"><label style="color: white"><h5>Accident Type :</h5></label> </div>
        <div class="col-md-4">
            <select formControlName="accident_type" name="accident_type" class="form-control ">
                <option value="null">--Accident Type--</option>
                <option value="fire">Fire</option>  
                <option value="Road Accident">Road Accident</option>
                <option value="Malicious Acts">Malicious Acts</option>
                <option value="Self-destruction">Self-destruction</option>
                <option value="Part Failure">Part Failure</option>
                </select>
        </div>
     </div>
</div>            


<div class="container mt-3 mb-3">
    <button type="submit" (click)="saveaccident()" class=" btn btn-success btn-block" data-toggle="modal" data-target="#exampleModalCenter">Claim</button>
    <button type="reset" class="btn btn-danger btn-block">Reset</button>

  </div>






</div>	 

</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{message}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>
</form>  
</div>     