<app-user-mainpage></app-user-mainpage>

<div id="block" class="container mt-5">


   

  <form [formGroup]="regpay">
        <div class="container1">

         
          <!---heading-->
              <header class="heading">Registered Pay</header><hr>

            <div><p style="color:yellow;text-align: center">{{message}}</p></div>

           <!---Form starting--> 
           <div class="row">
            <!--- For Policy Id-->
               <div class="col-sm-12 mt-3">
                      <div class="row justify-content-center">
                    
                        <div class="col-md-4"><label style="color: white" ><h5>*Policy Id :</h5></label> </div>
                        <div class="col-md-3">
                            <select formControlName="policy_id" name="policy_id" class="form-control ">
                              <option value="null" disabled>--select policy--</option>
                           <option [ngValue]="vehicle.policy_id" *ngFor='let vehicle of vehicles'>{{vehicle.policy_id}}</option>
                         </select>
                      
                         </div>

            <div class=""> 
                           
                          
   <button type="submit" (click)="registerpay()" class="btn btn-success"  >Submit</button></div>

         </div>
              </div>  
  
             
      
                <!--=====================For Debit Card=======================-->
        

       <div class="card1 container mt-5">
        <div class="card-body">
            <ul class="nav bg-light nav-pills rounded nav-fill" role="tablist">
                <li class="nav-item">
                  <a class="nav-link " data-toggle="pill" (click)="debit()" href="#nav-tab-card">
                  <i class="fa fa-credit-card"></i>
               Debit Card
                  </a></li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="pill" (click)="credit()" href="#nav-tab-credit">
                  <i class="fa fa-credit-card"></i> 
                 Credit Card
                </a></li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="pill" (click)="net()" href="#nav-tab-bank">
                  <i class="fa fa-globe"></i>
                  Net Banking
                </a></li>
              </ul>

              <div class="tab-content">
                  <div class="tab-pane fade show active" id="nav-tab-card">
           
                   
                    <div class="form-group mt-3">
                      <label for="username" style="color:white">*Full name (on the card)</label>
                      <input type="text"   formControlName="full_name" pattern="" 
                      placeholder="Full Name" 
                     class="form-control" autofocus >
                    </div> 
                    <div *ngIf="f.full_name.errors" >

                           

                      <div *ngIf="f.full_name.errors&&!f.full_name.pristine"
                       class="dinesh">
                       
                       name must contain only alphabets and spaces</div>
                  </div>

                  
                    <div class="form-group">
                      <label for="cardNumber" style="color:white">*Card number</label>
                      <div class="input-group">
                        <input type="card_number" pattern=''formControlName="card_number" placeholder="xxxx xxxx xxxx xxxx" class="form-control" required>
                        <div class="input-group-append">
                          <span class="input-group-text text-muted">
                            <i class="fab fa-cc-visa"></i>   <i class="fab fa-cc-amex"></i>   
                            <i class="fab fa-cc-mastercard"></i> 
                          </span>
                        </div>
                      </div>
                      <div *ngIf="f.card_number.errors" >
                        <div *ngIf="f.card_number.errors&&!f.card_number.pristine" class="dinesh">
                           card number should contain 16 digits  
                        </div>
                    </div>
                    </div> 
                  
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label><span class="hidden-xs" style="color:white">*Expiration</span> </label>
                              <div class="input-group">
                                  <select name="expiration_month" id="">
                                      <option value="null" disabled>Month</option>
                                    <option value="01">01 (Jan)</option>
                                    <option value="02">02 (Feb)</option>
                                    <option value="03">03 (Mar)</option>
                                    <option value="04">04 (Apr)</option>
                                    <option value="05">05 (May)</option>
                                    <option value="06">06 (Jun)</option>
                                    <option value="07">07 (Jul)</option>
                                    <option value="08">08 (Aug)</option>
                                    <option value="09">09 (Sep)</option>
                                    <option value="10">10 (Oct)</option>
                                    <option value="11">11 (Nov)</option>
                                    <option value="12">12 (Dec)</option>
                                  </select>
                               
                                
                                
                                <input type="text" pattern=''formControlName="expiration_year" placeholder="Year" class="form-control" required>
                              </div>
                            </div>
                           
                          <div *ngIf="f.expiration_year.errors" >
                            <div *ngIf="f.expiration_year.errors&&!f.expiration_year.pristine" class="dinesh">
                               year should contain 2 digits  
                            </div>
                        </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label data-toggle="tooltip" title="" data-original-title="3 digits code on back side of the card" style="color:white">*CVV <i class="fa fa-question-circle"></i></label>
                                <input type="password" pattern=''formControlName="cvv" placeholder="CVV" class="form-control" required>
                            </div> 
                            <div *ngIf="f.cvv.errors" >
                              <div *ngIf="f.cvv.errors&&!f.cvv.pristine" class="dinesh">
                                cvv should contain 3 digits  
                              </div>
                          </div>
                        </div>
                    </div> 
                  
                   
          </div>
         
        
       
          <!--=========================For Credit Card===================-->
         


      
              <div class="tab-pane fade" id="nav-tab-credit">
       
                
                <div class="form-group mt-3">
                  <label for="username" style="color:white">*Full name (on the card)</label>
                  <input type="text"   formControlName="full_name" pattern="[a-zA-Z+' ']{1,}" 
                      placeholder="Full Name" 
                     class="form-control" autofocus >
                     <div *ngIf="f.full_name.errors" >

                           

                      <div *ngIf="f.full_name.errors&&!f.full_name.pristine"
                       class="dinesh">
                       
                       name must contain only alphabets and spaces</div>
                  </div>
                </div> 
              
                <div class="form-group">
                  <label for="cardNumber" style="color:white">*Card number</label>
                  <div class="input-group">
                    <input type="card_number" pattern='[0-9]{16}'formControlName="card_number" placeholder="xxxx xxxx xxxx xxxx" class="form-control" required>
                    <div class="input-group-append">
                      <span class="input-group-text text-muted">
                        <i class="fab fa-cc-visa"></i>   <i class="fab fa-cc-amex"></i>   
                        <i class="fab fa-cc-mastercard"></i> 
                      </span>
                    </div>
                  </div>
                  <div *ngIf="f.card_number.errors" >
                    <div *ngIf="f.card_number.errors&&!f.card_number.pristine" class="dinesh">
                       card number should contain 16 digits  
                    </div>
                </div>
                </div> 
              
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label><span class="hidden-xs" style="color:white">*Expiration</span> </label>
                          <div class="input-group">
                              <select name="expiration_month">
                                  <option value="null" disabled>Month</option>
                                <option value="01">01 (Jan)</option>
                                <option value="02">02 (Feb)</option>
                                <option value="03">03 (Mar)</option>
                                <option value="04">04 (Apr)</option>
                                <option value="05">05 (May)</option>
                                <option value="06">06 (Jun)</option>
                                <option value="07">07 (Jul)</option>
                                <option value="08">08 (Aug)</option>
                                <option value="09">09 (Sep)</option>
                                <option value="10">10 (Oct)</option>
                                <option value="11">11 (Nov)</option>
                                <option value="12">12 (Dec)</option>
                              </select>
                           
                            <input type="text" pattern='[0-9]{2}'formControlName="expiration_year" placeholder="Year" class="form-control" required>
                          </div>
                        </div>
                       
                      <div *ngIf="f.expiration_year.errors" >
                        <div *ngIf="f.expiration_year.errors&&!f.expiration_year.pristine" class="dinesh">
                           year should contain 2 digits  
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label data-toggle="tooltip" title="" data-original-title="3 digits code on back side of the card" style="color:white">*CVV <i class="fa fa-question-circle"></i></label>
                            <input type="password" pattern='[0-9]{3}'formControlName="cvv" placeholder="CVV" class="form-control" required>
                        </div> 
                    </div>
                    <div *ngIf="f.cvv.errors" >
                      <div *ngIf="f.cvv.errors&&!f.cvv.pristine" class="dinesh">
                        cvv should contain 3 digits  
                      </div>
                  </div>
                </div> 
              
                
      </div>
     
      


      <!--===================For Net Banking======================-->

      <div class="tab-pane fade" id="nav-tab-bank">
       
          
          <div class="form-group mt-3">
            <label for="username" style="color:white">*User Name</label>
            <input type="text" class="form-control" name="username" placeholder="" required="">
          </div> 
        
          <div class="form-group">
            <label for="cardNumber" style="color:white">*Password</label>
            <div class="input-group">
              <input type="password" class="form-control" name="cardNumber" placeholder="">
              
            </div>
          </div> 
          
</div>


      </div>
        </div>

      </div>
    
                 

               

          
  
   <!--- For Payment Mode
   <div class="col-sm-12 mt-3">
      <div class="row justify-content-center">
    
        <div class="col-md-4"><label style="color: white" ><h5>*Payment Mode :</h5></label> </div>
      <div class="col-md-4">
          <select [(ngModel)]="regpay.payment_mode" name="payment_mode" id="paymentMode"  class="form-control ">
              <option value="null" disabled>--Payment Mode--</option>
              <option value="Debit Card">Debit Card</option>  
              <option value="Credit Card">Credit Card</option>
              <option value="Net Banking">Net Banking</option>
              </select>
      </div>
   </div>
</div>            

-->


<div class="container mt-3 mb-3">
  <button type="submit" (click)="makePayment()" class=" btn btn-success btn-block" data-toggle="modal" data-target="#exampleModalCenter">Pay</button>
  <button type="reset" class="btn btn-danger btn-block">Reset</button>

</div>






</div>	 

</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
     {{message1}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>







</form>  
</div>     

<!--======================Alert boxes=====================-->

<!-- Modal -->











<!--

<app-user-mainpage></app-user-mainpage>

<div id="block" class="container mt-5">

  
        <div class="container1">
<div class="col-md-6">
  <h2 class="heading">Registered Pay</h2>
<form>
  <div class="row justify-content-center">
  <div class="form-group">
    <label for="policy_id">Policy ID:</label>
    <input type="text" [(ngModel)]="registeredpay.policy_id" placeholder="Policy ID" name="policy_id" class="form-control" id="policy_id">
  </div>

  <div class="form-group">
    <label for="premium_amount">Premium Amount:</label>
    <input [(ngModel)]="registeredpay.premium_amount" placeholder="Premium Amount" name="premium_amount" class="form-control" id="premium_amount">
  </div>

  <div class="form-group">
    <label for="due_date">Due Date:</label>
    <input type="date" [(ngModel)]="registeredpay.due_date" placeholder="Due Date" name="due_date" class="form-control" id="due_date">
  </div>

  <div class="form-group">
    <label for="payment_date">Payment Date:</label>
   <input type="date" [(ngModel)]="registeredpay.current_date" placeholder="Payment Date" name="payment_date" class="form-control" id="payment_date">
  </div>

  <div class="form-group">
    <label for="payment_mode">Payment Mode:</label>
   <input [(ngModel)]="registeredpay.payment_mode" placeholder="Payment Mode" name="payment_mode" class="form-control" id="payment_mode">
  </div>

  <div class="form-group">
    <label for="amount_paid">Amount Paid:</label>
   <input [(ngModel)]="registeredpay.amount_paid" placeholder="Amount Paid" name="amount_paid" class="form-control" id="amount_paid">
  </div>

  <button class="btn btn-success" (click)="makePayment()">Pay</button>

</form>
</div>
</div>
</div>
-->