
<app-claim-mainpage></app-claim-mainpage>

<div id="block" class="mt-5">

    
   
 
    <div class="container1">
      <!---heading-->

      
         
        

          <header class="heading">Theft Claim Details</header><hr>
          <div class="card">
              <div class="card-header"></div>
              <div class="card-body">
    
                <table class="table table-responsive table-sm table-bordered ">
  
     
      <tr>
        <th>Customer Id</th>
        <th>Policy Id</th>
        <th>Claim Id</th>
        <th>Total Amount</th>
        <th>Date Of Theft</th>
        <th>Date Of Complaint</th>
        <th>FIR Number</th>
        <th>Claim Amount</th>
        <th>Status</th>
      </tr>
    
      <tr *ngFor="let theft of thefts | paginate: {itemsPerPage:5, currentPage:p}">
        <td>{{theft.customer_id}}</td>
        <td>{{theft.policy_id}}</td>
        <td>{{theft.claim_id}}</td>
        <td>{{theft.total_amount}}</td>
        <td>{{theft.theft_date}}</td>
        <td>{{theft.complaint_date}}</td>
        <td>{{theft.fir_number}}</td>  
        <td>{{theft.claim_amount}}</td> 
        <td>{{theft.status}}</td> 
  
      </tr>
     
    </table>
    <pagination-controls (pageChange)="p =$event"></pagination-controls>
    </div>
    </div>
    </div>
    </div>